.navbar{
    background: lightcyan;
    .navbar-brand{
        color: rgb(43, 4, 31);
        font-family: 'Luckiest Guy', cursive;
        font-size: 3rem;
    }
    .fas{
        color: rgb(43, 4, 31);
    }
}